# example dcamp configuration file

[root]
# not just a port; possible multiple interfaces/addresses on host
endpoint = localhost:5500
heartbeat = 5s

#####
# group specifications

[group1]
localhost:5600
siderop1-losx.local:5630
localhost:5660

sample1

[group2]
localhost:5700
localhost:5730
localhost:5760

-192.168.1.0/24
+.netapp.com

sample1
sample2

[group3]
192.168.1.100:5800
sample3

#####
# sample specifications

[sample1]
rate = 5s
threshold = 30s
metric = CPU

[sample2]
rate = 10s
threshold = >5000
metric = DISK

[sample3]
rate = 60s
metric = NETWORK
